@media screen and (max-width: 720px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        width: 100%;
        font-family: 'roboto',sans-serif;
        font-style: normal;
        color: #464648;
    }

    /* La structure du corps */

    .container-pple{
        display: flex;
        flex-direction: column;
    }

    header{
        display: flex;
        align-self: center;
        font-weight: 700;
        font-size: 20px;
        height: 80px;
    }

    .name{
        font-size: 20px;
        font-weight: 100;
    }

    /* Menu principal */

    .menu-principal li a{
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        display: block;
    }

    .menu-principal{
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style-type: none;
    }


    .img-menu{
        margin-right: 25px;
        display: block;
    }

    .menu-p{
        display: flex;
        justify-content: center;
        height: 63px;
        background: #2E2E2E;
        border-bottom-style: solid;
        border-bottom-color: #FFFFFF;
        border-bottom-width: 1px;
    }

    /* le corps du menu */

    .menu{
        height: 100%;
        background: #2E2E2E;
    }



    .menu1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        padding: 0px;
        height: fit-content;
    }

    .menu1 li{
        border-bottom-style: solid;
        border-bottom-color: #FFFFFF;
        border-bottom-width: 1px;
        width: 100%;
    }

    .menu1 li a{
        text-align: center;
    }
    .menu1 li a:hover {
        background-color:#fbfbfb;
        color: #2E2E2E;
        height: 100%;
    }
    
    /* le sous menu */

    .sous-menu1{
        background: #464648;
        display: none;
        position: relative;
    }
    
    .menu1 li:hover .sous-menu1{
        display: block;
        position: relative;
    }
    .sous-menu1 li a{
        display: flex;
        justify-content: left;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        height: 41px;
        width:100%;
        border-bottom-style: solid;
        border-bottom-color: #FFFFFF;
        border-bottom-width: 1px;
    }
    .sous-menu2{
        background-color: #505050;
        display: none;
        position: relative;
    }

    .sous-menu1 li:hover .sous-menu2{
        display: block;
        position: relative;
    }

    .sous-menu1 li:hover{
        height: 41px;
    }

    .sous-menu2 li:hover{
        height: 20px;
        top: 0px;
    }

    .sous-menu2 li{
        bottom: 17px;
    }

    .sous-menu2 li a{
        background-color: #505050;
        color: #fbfbfb;
        height: 10px;
        font-weight: 400;
        font-size: 16px;
        width: 100%;
        top: 0px;
        left: 0px;
        padding-left: 50px;
        border-bottom-style: solid;
        border-bottom-color: #FFFFFF;
        border-bottom-width: 1px;
    }

    .blue-box{
        height: 11px;
    }
    
    /* Banner */

    .font-banner{
        height: 308px;
    }

    .article1 ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .article1{
        height: 95px;
    }

    .list1{
        display: flex;
        justify-content: center;
        align-self: center;
        font-weight: 400;
        font-size: 13px;
        padding-right: 0px;
    }

    .list2{
        width: 222px;
        height: 39px;
    }

    

    /* Les 3 telegrams */

    .telegram{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 30px;
    }

    .image{
        display: flex;
        align-self: center;
        height: 80px;
        width: 80px;
    }

    .important{
        font-weight: 700;
        font-size: 20px;
        margin-left: -48px;
    }

    .para{
        text-align: left;
        font-weight: 400;
        font-size: 14px;
        width: 232px;
        height: 81px;
        padding-left: 15px;
        margin-top: -22px;
    }

    .lesPara{
        margin-top: -35px;
        margin-left: -5px;
    }

    .telegram1{
        display: flex;
        flex-direction: row;
        margin-top: 32px;
    }

    /* Gigantic */

    .gigantic{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 204px;
        margin-top: -100px;
    }

    .gig1{
        font-weight: 600;
        font-size: 16px;
        text-align: center;
    }

    .gig2{
        text-align: center;
        font-weight: 400;
        font-size: 16px;
    }

    /* Les 4 sections de carré */

    .first-thing{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 540px;
    }

    .thing{
        margin-top: 40px;
    }

    .first-thing1{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .side-thing{
        margin-top: -6px;
    }

    .side-thing1{
        font-weight: 700;
        font-size: 20px;
    }

    .side-thing2{
        font-weight: 400;
        font-size: 12px;
    }


    .image-item{
        height: 80px;
        width: 80px;
    }

    /* La partie bleu ciel */

    .insert-coin{
        height: 123px;
    }

    .insert1{
        font-weight: 600;
        font-size: 16px;
        padding: 0px;
    }

    .insert2{
        height: 32px;
    }

    .insert-coin ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .insert-coin ul li a{
        font-weight: 400;
        font-size: 12px;
    }

    /* The end */

    footer{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    /* The end part 1 */

    .the-end1{
        display: flex;
        flex-direction: column;
    }

    .links{
        margin-top: 60px;
        padding-right: 0px;
    }

    .links2 p{
        font-weight: 400;
        font-size: 16px;
    }

    .get-in-touch{
        margin-top: 60px;
    }

    .get2{
        display: flex;
        flex-direction: column;
    }

    #message{
        display: flex;
        align-self: center;
        width: 298px;
        height: 200px;
    }

    #name{
        width: 298px;
    }

    .name2{
        display: flex;
        align-self: center;
        padding: 0px;
    }

    #mail{
        margin-top: 50px;
        padding-left: 20px;
        width: 298px;
    }

    .mail{
        padding-left: 0px;
    }

    .lien{
        width: 298px;
        height: 64px;
    }
    
    .the-end2{
        margin-top: 40px;
    }

    .the-end3{
        margin-top: 40px;
        padding-bottom: 60px;
    }

}