*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    font-family: 'roboto',sans-serif;
    font-style: normal;
}

/* l'en tête */

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 32px;
    height: 198px;
    background-color: #fbfbfb;
}
.name{
    font-size: 32px;
    padding-left: 10px;
    font-weight: 100;
}

/* menu principale */

.menu-principal li a{
    display: none;
}
.img-menu{
    display: none;
}


/* le menu */

a{
    text-decoration: none;
}

.menu1 li{
    display: inline-block;
    position: relative;
}
.menu1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    padding: 20px 300px;
    position: relative;
    height: 65px;
}
.menu1 li a{
    display: block;
    color: #FFFFFF;
    padding: 12px;
}
.menu1 li a:hover {
    background-color:#fbfbfb;
    color: #2E2E2E;
}
.menu{
    height: 65px;
    background: #2E2E2E;
}

/* le sous menu */

.menu1 li:hover .sous-menu1{
    display: block;
    position: absolute;
}


.sous-menu1{
    background-color: #2E2E2E;
    display: none;
}
.sous-menu1 li a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    height: 31px;
    width: 170px;
    border-bottom-style: solid;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
}
.sous-menu2{
    background-color: #2E2E2E;
    display: none;
}
.sous-menu1 li:hover .sous-menu2{
    display: block;
    position: absolute;
}
.sous-menu2 li a{
    background-color: #2E2E2E;
    color: #fbfbfb;
    height: 31px;
    position: absolute;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    width: 170px;
    top: -48px;
    left: 170px;
}

.blue-box{
    height: 18px;
    background-color: #36BDF7;
}

/* Banner */

.font-banner{
    display: flex;
    flex-direction: row;
    height: 586px;
}
.article1{
    display: flex;
    align-self: flex-end;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 131px;
    background-color: rgba(14, 13, 13, 0.74);
}
.article1 ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}
.list1{
    padding-right: 50px;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}
.article1 ul li a{
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}
.list2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #32B1E8;
    border-radius: 8px;
    width: 222px;
    height: 63px;
}

/* Les 3 telegrams */

.telegram{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 586px;
    background-color: #FFFFFF;
}
.telegram1{
    display: flex;
    flex-direction: column;
}
.important{
    text-align: center;
    padding: 30px 30px;
    font-weight: 700;
    font-size: 32px;
}
.para{
    text-align: center;
    width: 295px;
    height: 81px;
    font-weight: 400;
    font-size: 16px;
}
.image{
    display: flex;
    align-self: center;
}

/* Gigantic */

.gigantic{
    display: flex;
    flex-direction: column;
    height: 433px;
}
.gig1{
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    padding: 50px;
}
.gig2{
    text-align: center;
    font-weight: 400;
    font-size: 32px;
}

/* Les 4 sections de carré */

.first-thing{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 685px;
}
.first-thing1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.thing{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 50px;
}
.side-thing{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 45px;
    width: 367px;
}
.side-thing1{
    font-weight: 700;
    font-size: 32px;
}
.side-thing2{
    font-weight: 400;
    font-size: 16px;
}
.image-item{
    height: 184px;
}

/* La partie bleu ciel */

.insert-coin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 229px;
    background: linear-gradient(180deg, #36BCF5 0%, #2FA5D7 100%);
}
.insert-coin ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}
.insert-coin ul li a{
    font-weight: 400;
    font-size: 20px;
    color: #464648;
}
.insert1{
    padding-right: 50px;
    font-weight: 600;
    font-size: 32px;
    color: #FFFFFF;
}
.insert2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 222px;
    height: 63px;
}

/* The end */

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f1f1f1;
    height: 915px;
}

/* The end part 1 */

.the-end1{
    display: flex;
    flex-direction: row;
}
.links{
    display: flex;
    flex-direction: column;
    padding-right: 100px;
}
.links1 p{
    font-weight: 700;
    font-size: 32px;
    color: #464648;
}
.links2{
    padding-top: 40px;
}
.links2 p{
    font-weight: 400;
    font-size: 20px;
    color: #464648;
    padding-top: 15px;
    padding-bottom: 15px;
}
.get-in-touch{
    display: flex;
    flex-direction: column;
}
.get-in-touch p{
    font-weight: 700;
    font-size: 32px;
    color: #464648;
}
.get2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-top: 45px;
}
#name{
    width: 276px;
    height: 62px;
    font-weight: 400;
    font-size: 20px;
    padding-left: 20px;
    color: #AAA0A0;
    background-color: #FFFFFF;
    border-color: transparent;
}
.name2{
    padding-left: -8px;
}
#mail{
    width: 210px;
    height: 62px;
    font-weight: 400;
    font-size: 20px;
    padding-left: 50px;
    color: #AAA0A0;
    background-color: #FFFFFF;
    border-color: transparent;
}
.mail{
    padding-left: 50px;
}
#message{
    width: 520px;
    height: 200px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    padding-top: 20px;
    font-style: normal;
    font-size: 20px;
    color: #AAA0A0;
    background-color: #FFFFFF;
    border-color: transparent;
}
.message{
    padding-bottom: 50px;
}
.msg{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.lien{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 222px;
    height: 63px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    background: #505050;
}
.logo{
    margin-left: 20px;
}
.the-end3 p{
    font-weight: 400;
    font-size: 16px;
}